.queryResults {
	background:#ffffff;
	color:#000000;
	font-weight:bold;
	overflow-y: scroll;
	margin-left:40%;
	width:20%;
	text-align:left;
	border:1px solid #cccccc;
	max-height: 300px;
	border-radius: 6px;
	position: relative;
}
.searchResultItem {

	padding:10px;
	cursor: pointer;
	border-bottom:1px solid #cccccc;

}
.show {
	display:block;
}
.hide {

	display:none;
}
